<div id="loginArea" class="flex">
    <div id="leftArea">
        <div id="info">
            <h1>ShoppApp</h1>
            <h2>İthiyacınız olan her şey için bir tık yeter.</h2>
        </div>
    </div>
    <div id="rightArea" class="flex">
        <button id="register" class="btn" routerLink="/register" *ngIf="page == 'login'">Kayıt Ol</button>
        <button id="login" class="btn" routerLink="/login" *ngIf="page == 'register'">Giriş Yap</button>
        <form id="loginForm" (keydown.enter)="login()">
            <div class="formGroup">
                <label for="model" *ngIf="page == 'login'">Giriş Türü</label>
                <label for="model" *ngIf="page == 'register'">Kayıt Türü</label>
                <select name="model" id="model" [(ngModel)]="model">
                    <option value="customer" selected>kullanıcı</option>
                    <option value="supplier">mağaza</option>
                </select>
            </div>
            <div class="formGroup">
                <label for="email">E-Posta</label>
                <input type="email" name="email" id="email" [(ngModel)]="email">
            </div>
            <div class="formGroup">
                <label for="password">Şifre</label>
                <input type="password" name="password" id="password" [(ngModel)]="password">
            </div>
            <div id="other">
                <a (click)="showForgotPasswordArea()" *ngIf="page == 'login'">Şifremi Unuttum</a>
                <button class="btn" (click)="login()" *ngIf="page == 'login'">Giriş Yap</button>
                <button class="btn" (click)="register()" *ngIf="page == 'register'">Kayıt Ol</button>
            </div>
        </form>
    </div>
    <div id="forgotPassword" class="flex flex-column" >
            <h2>Sıfırlama E-Postası Gönder</h2>
            <p>Sıfırlama maili sistemimizde kayıtlı olan e-posta adresinize gönderilecektir. Lütfen kayıtlı e-posta adresinizi aşağıdaki alana giriniz. İptal etmek için Escape (esc) tuşuna basabilirsiniz.</p>
            <input type="email" name="forgotMail" id="forgotMail" [(ngModel)]="forgotEmail" (keydown.enter)="forgotPassword()">
            <button class="btn" (click)="forgotPassword()">Gönder</button>
    </div>
</div>
