<div id="addressArea" class="flex flex-column">
    <div id="header" class="flex">
        <h2 class="userRouterHeader">Adres Bilgilerim</h2>
        <i class="fa-solid fa-plus" (click)="showAddAddressPanel()"></i>
    </div>

    <div id="itemArea" class="flex">
        <div class="item" *ngFor="let address of addresses, index as i">
            <div class="itemHeader flex">
                <h4>{{address.title}}</h4>
                <i class="fa-sharp fa-solid fa-trash" (click)="remove(address, i)"></i>
            </div>
            <div class="itemBody">
                <p><span>{{address.info.name}} {{address.info.surname}}</span></p>
                <p>{{address.info.neighbourhood}}</p>
                <p id="description">{{address.info.addressDesc}}</p>
                <p>{{address.info.district}}/{{address.info.city}}</p>
                <p>{{address.info.phone}}</p>
            </div>
            <div class="itemFooter">
                <a (click)="showUpdateAddressPanel()">adresi güncelle</a>
            </div>
            <div id="updateAddressPanel" class="flex">
                <app-update-address [address]="address"></app-update-address>
            </div>
        </div>
        <div id="addAddressPanel" class="flex">
            <app-add-address></app-add-address>
        </div>

    </div>
</div>