<div id="productUpdateArea">
    <h3 class="userRouterHeader">Ürün Güncelle</h3>
    <div id="productUpdateUp">
        <div id="productImageArea" class="flex flex-column">
            <div id="productImage">
                <img src="http://localhost:3000/api/public/image/{{image}}" alt="{{image}}">
            </div>
            <div id="productImages">
                <img src="http://localhost:3000/api/public/image/{{image}}" alt="{{image}}" *ngFor="let image of images">
            </div>
        </div>
        <!-- <div id="productInfoArea">

        </div> -->
    </div>
    
</div>
