@import "../../../../../assets/scss/variables.scss";
#productUpdateArea{
    width: 100%;
    #productUpdateUp{
        padding: 1rem;
        width: 100%;
        justify-content: flex-start;
        #productImageArea{
            width: 30%;
            #productImage{
                width: 100%;
                img{
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            #productImages{
                width: 100%;
                display: flex;
                overflow-x: scroll;
                gap:1rem;
                img{
                    width: 20%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            
        }
        #productInfoArea {
            width: 40%;

            .productBodyItem {
                width: 100%;
                justify-content: flex-start;
                align-items: center;

                h4 {
                    width: 40%;
                }

                p,
                ul {
                    width: 60%;
                    text-align: start;
                }
                .formInput{
                    width: 60%;
                    outline: 1px solid $colorOrange;
                    &:focus{
                        outline-color: blue;
                    }
                }

            }

            .other {
                margin-top: 1rem;
            }
        }
        #productStocksArea {
            width: 30%;
            gap: .5rem;
            padding: 1rem;
            li{
                &:hover{
                    cursor: pointer;
                    color: $colorOrange;
                }
            }
            
        }
    }
    #bodyCenter {
        width: 100%;
        #stocksUpdateArea {
            border: 1px solid $colorDarkGray;
            padding: 1rem;
            width: 100%;
            display: flex;

            #stockUpdateAreaLeft {
                width: 70%;
                #images{
                    width: 100%;
                    #stockImage{
                        width: 30%;
                        img{
                            width: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                    #stockImages{
                        width: 70%;                            
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        
                            
                        img{
                            width: 10%;
                            object-fit: cover;
                            object-position: center;
                            &:hover{
                                cursor:pointer
                            }
                        }
                       
                        
                    }
                    
                }
                .newPhotosArea{
                    padding: 1rem;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    img{
                        width: 10%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }

            #stockUpdateAreaRight {
                width: 30%;
                .formInput{outline: 1px solid $colorOrange;}
            }

        }
        #propertiesUpdateArea{
            border: 1px solid $colorDarkGray;
            width: 100%;
            padding: 1rem;
            height: 70vh;
            width: 100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            .propItem{
                width: 30%;
                justify-content: space-between;
                align-items: center;
            }
        }
        #descriptionUpdateArea{
            width: 100%;
           border: 1px solid $colorDarkGray;
           ckeditor{
            width: 50%;
           }
        }
    }
    // #productStockUpdateArea{
       
    //     display: none;
    // }
}