<div id="addAddressArea">
    <h3>Adres Ekle</h3>
    <div class="flex row">
        <div class="item">
            <label class="formLabel" for="name">Ad</label>
            <input class="formInput" type="text" name="name" id="name" [(ngModel)]="name">
        </div>
        <div class="item">
            <label class="formLabel" for="surname">Soyad</label>
            <input class="formInput" type="text" name="surname" id="surname" [(ngModel)]="surname">
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label class="formLabel"  for="phone">Telefon</label>
            <input class="formInput"  type="text" name="phone" id="phone" [(ngModel)]="phone">
        </div>
        <div class="item">
            <label  class="formLabel" for="city">İl</label>
            <select class="formSelect"  name="city" id="city" [(ngModel)]="city">
                <option selected disabled>Seçiniz</option>
                <option value="Trabzon">Trabzon</option>
            </select>
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label  class="formLabel" for="district">İlçe</label>
            <select class="formSelect"  name="district" id="district" [(ngModel)]="district">
                <option selected disabled>Seçiniz</option>
                <option value="Arsin">Arsin</option>
            </select>
        </div>
        <div class="item">
            <label  class="formLabel" for="neighbourhood">Mahalle</label>
            <select class="formSelect"  name="neighbourhood" id="neighbourhood" [(ngModel)]="neighbourhood" >
                <option selected disabled>Seçiniz</option>
                <option value="Yeşilyalı">Yeşilyalı</option>
            </select>
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label  class="formLabel" for="district">Cadde</label>
            <select class="formSelect"  name="street" id="street" [(ngModel)]="street">
                <option selected disabled>Seçiniz</option>
                <option value="Kurtuluş Sok.">Kurtuluş Sok.</option>
            </select>
        </div>

        <div class="item">
            <label class="formLabel" for="postalCode">Posta Kodu</label>
            <input class="formSelect" type="postalCode" name="postalCode" id="postalCode" [(ngModel)]="postalCode">
        </div>

    </div>
    <div class="flex row">
        <div class="item">
            <label class="formLabel" for="addressDesc">Adres</label>
            <textarea class="formTextarea" name="addressDesc" id="addressDesc" [(ngModel)]="addressDesc" cols="30" rows="10"></textarea>
        </div>

    </div>
    <div class="flex row">
        <div class="item">
            <label class="formLabel" for="title">Adres Başlığı</label>
            <input class="formInput" type="text" name="title" id="title" [(ngModel)]="title">
        </div>

    </div>
    <div class="flex row">
        <button class="btn" (click)="addAddress()">Ekle</button>

    </div>
</div>

