<section id="categories">
  <div class="container flex">
    <div class="category" *ngFor="let category of mainCategories">
      <p>{{category.name}}</p>
      <div class="subCategories">
        <div class="subCategory"  *ngFor="let subCategory of category.children">
          <div class="subCategoryHead">
            <a routerLink="/category/{{subCategory.slug}}">{{subCategory.name}}</a>
            
          </div>
          <ul class="subCategoryItems" *ngFor="let item of subCategory.children">
            <li class="subCategoryItem"><a
                routerLink="/category/{{item.slug}}">{{item.name}}</a>
            </li>
            <ul class="subCategoryItems" *ngFor="let subItem of item.children">
              <li class="subCategoryItem"><a
                  routerLink="/category/{{subItem.slug}}"><span>{{subItem.name}}</span></a>
              </li>
  
            </ul>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>