@import "../../../../assets/scss/variables.scss";
#categories{
    position: relative;
    .container{
        justify-content: center;
        
        .category{
            padding: 1rem 0;
            z-index: 1;
            &:hover{
                cursor:pointer;
                .subCategories{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap:2rem;
                    position: absolute;
                    
                    .subCategoryHead{
                        a{
                            font-weight:600;
                        }
                        margin-bottom:1rem;
                        
                    }
                    .subCategoryItems{
                        .subCategoryItem{
                            a{
                                font-weight: 500;
                                font-size: 1.4rem;
                                span{
                                    font-weight: 400;
                                }
                                &:hover{
                                    color:$colorOrange;
                                }
                            }
                            
                        }
                    }
                }
                
            }   
            p{
                font-size: 2rem;
            } 
            .subCategories{
                background-color: rgba(white, $alpha: .8);
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                height: 70vh;
                padding: 1rem 1rem;
                
            }
        }
    }
}