<section id="categories">
  <div class="container flex">
    <div class="category">
        <p>Elektronik</p>
        <div class="subCategories container">
            <div class="subCategoryHead">
                <a routerLink="/bilgisayar">Bilgisayar</a>
            </div>
            <ul class="subCategoryItems">
                <li class="subCategoryItem"><a routerLink="/subCategoryItem">Dizüstü</a></li>
                <li class="subCategoryItem"><a routerLink="/subCategoryItem">Masaüstü</a></li>
            </ul>
        </div>
    </div>
    <div class="category">
        <p>Elektronik</p>
        <div class="subCategories container">
            <div class="subCategoryHead">
                <a routerLink="/bilgisayar">Bilgisayar</a>
            </div>
            <ul class="subCategoryItems">
                <li class="subCategoryItem"><a routerLink="/subCategoryItem">Dizüstü</a></li>
                <li class="subCategoryItem"><a routerLink="/subCategoryItem">Masaüstü</a></li>
            </ul>
        </div>
    </div>
   
  </div>
</section>
