#categories{
    .container{
        align-items: normal;
        .category{
          
            position: relative;
            padding: 1rem 0;
            z-index: 1;
            &:hover{
                cursor:pointer;
                .subCategories{
                    display: block;
                    position: absolute;
                }
                
            }    
            .subCategories{
                background-color: rgba($color: white, $alpha: .8);
                display: none;
                font-size: 1.2rem;
                padding: 1rem 1rem;
                .subCategoryHead{
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-bottom: .8rem;
                }
                ul{
                    li{
                        list-style: none;
                    }
                }
            }
        }
    }
}