<section id="categories">
    <div class="container flex">
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        <div class="flex flex-column categoryItem">
            <p >categoryItem</p>
            <a routerLink="categoryName" class="categorySubItem">subItem</a>
        </div>
        
    </div>
</section>