<nav >
    <div class="container flex">
        <section id="logo">
            <a routerLink="/">shopApp</a>
        </section>
        <section id="search">
            <input type="text" id="searchInput" name="searchInput" placeholder="Ara">
            <button>Ara</button>
        </section>
        <section id="items" class="flex">
            <div id="auth">
                <p>{{text}}</p>
                <div id="authItems" class="flex flex-column">
                    <a routerLink="/login">Giriş Yap</a>
                    <a routerLink="/register">Üye Ol</a>
                    <div class="line"></div>
                    <a routerLink="/user/order">Siparişlerim</a>
                    <a routerLink="/user/page">Kullanıcı Bilgilerim</a>
                    <div class="line"></div>
                    <a (click)="logout()">Çıkış yap</a>
                </div>
            </div>
            <a routerLink="/cart" *ngIf="model == 'customer' || model=='' ">Sepetim</a>
        </section>
    </div>
</nav>
<app-category></app-category>