<div id="userArea" class="container flex">
    <div id="userNav">
        <h2>Hesabım</h2>
        <ul>
            <li routerLinkActive="active" routerLink="order"><p >Siparişlerim</p></li>
            <li routerLinkActive="active" routerLink="page"><p >Kullanıcı Bilgilerim</p></li>
            <li routerLinkActive="active" routerLink="address"><p >Adreslerim</p></li>
            <li routerLinkActive="active" routerLink="comment"><p >Yorumlarım</p></li>
            <li routerLinkActive="active" routerLink="question"><p >Sorularım</p></li>

        </ul>
    </div>
    <div id="routerArea">
        <router-outlet></router-outlet>
        
    </div>
</div>

