@import "../../../../../../assets/scss/variables.scss";

#stockUpdateArea{
    width: 100%;

    #stockUpdateHeadArea{
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        i{
            &:hover{
                cursor:pointer;
                color:$colorOrange
            }
        }
    }
    #stockUpdateInfoArea{
        #stockUpdateInfoImageArea{
            
        }
    }
}