<div id="questionArea">
    <h2 class="userRouterHeader">Sorularım</h2>
    <div id="filterSelectArea" class="flex">
        <select class="formSelect" id="answered" (change)="changeFilterItems($event)">
                <option value="all" selected>Hepsi</option>
                <option value="true">Cevaplandı</option>
                <option value="false">Cevaplanmadı</option>
        </select>
        <select class="formSelect" id="date" (change)="changeFilterItems($event)">
                <option value="default" selected disabled>Tarih</option>
                <option value="newest">En Yeni</option>
                <option value="oldest">En Eski</option>
        </select>
       
    </div>
    <div id="questions">
        <div class="question flex flex-column" *ngFor="let question of questions, index as i">
            <div class="questionDetails flex">
                <div class="questionProductImage">
                    <img src="http://localhost:3000/api/public/image/{{question.product.image}}" alt="">
                </div>

                <div class="questionInfo flex flex-column">
                    <p class="questionText">
                        <span>{{question.title}}</span>
                    </p>
                    <p>{{question.createdAt | date:"dd/MM/yyyy"}} | {{question.supplier.shopName}}</p>
                    <a class="showAnswer" (click)="showAnswerArea(i, $event)" *ngIf="question.answer">Cevabı Göster</a>
                    <p class="showAnswer" *ngIf="!question.answer">Henüz Cevaplanmadı.</p>
                </div>
            </div>

            <i class="fa-solid fa-xmark closeIcon" (click)="removeQuestion(question._id)"></i>
            <div class="answerArea" >
                <div class="answerInfo">
                    <p *ngIf="question.answer"><span>{{question.answer.title}}</span></p>
                    <p *ngIf="question.answer">{{question.answer.createdAt | date:"dd/MM/yyyy"}} tarihinde cevaplandı.</p>
                </div>
            </div>
        </div>
    </div>

</div>