@import "../../../../assets/scss/variables.scss";

    #questions{
        border: 1px solid $colorLightGray;
        align-items: center;
        #questionsHeader{
            border-bottom: 1px solid $colorLightGray;
            padding: 1rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }
        .question{
            padding: .5rem 1rem;
            width: 100%;
            .questionHeader{
                justify-content: space-between;
                
                width: 100%;

                .questionHeader{
                    width: 80%;
                }
            }
            .answer{
                margin: .5rem 2rem;
                background-color: $colorWhite;
                padding: 1rem;
                border-radius: 1rem;
            }
   
        }
        .btn{
            margin-bottom: 1rem;
        }
    }
    
