@import "../../../../assets/scss/variables.scss";
#questionArea{
    width: 100%;
    align-items: center;
    padding: 1rem;
    .question{
        width: 100%;
        margin-bottom:1rem;
        .questionHeader{
            justify-content: space-between;
            width: 100%;
            .questionHeader{
                width: 80%;
            }
        }
        .answer{
            margin: 1rem 4rem;
            background-color: $colorWhite;
            padding: 1rem;
            border-radius: 1rem;
        }
    }
}