<div id="questions" class="flex flex-column">
    <div id="questionsHeader" class ="flex">
        <h2>Soru ve Cevaplar</h2>
        <p *ngIf="questionResult.total">{{questionResult.total}} adet soruldu</p>
        <div class="inputGroup" *ngIf="questionPage">
            <input type="checkbox" (change)="selectAllQuestions()"> <label> Tüm Soruları Göster</label>
        </div>
    </div>
    <div class="question" *ngFor="let question of questionResult.data, index as i">
        <div class="questionHeader flex">
            <p class="questionText"><span>{{question.title}}</span></p>
            <a class="like" (click)="likeQuestion(question._id, question.likeCount, i)">{{question.likeCount}} | <i class="fa-regular fa-thumbs-up"></i></a>
        </div>
        <div class="questionBody">
            <p>{{question.customer.name}} {{question.customer.surname}} | {{question.createdAt | date:"dd.MM.yyyy"}}</p>
        </div>
        <div class="answer">
            <p class="answerHeader" *ngIf="question.answer">{{question.supplier.shopName}} | {{question.answer.createdAt | date:"dd.MM.yyyy"}} tarihinde cevapladı</p>
            <p class="answerHeader" *ngIf="!question.answer">henüz cevaplanmadı</p>
            <p class="answerBody"  *ngIf="question.answer" >{{question.answer.title}}</p>
        </div>
    </div>
    <!-- <button class="btn" (click)="seeMore()">Daha Fazla Göster</button> -->
    <div class="paginationBar flex">
        <p (click)="lessMore()" *ngIf="questionResult.pagination.previous" class="pageButton"><</p>
        <p>{{page}}</p>
        <p (click)="seeMore()" *ngIf="questionResult.pagination.next" class="pageButton">></p>
        <select (change)="setLimit($event)">
            <option value="10" selected>10 adet sonuç göster</option>
            <option value="20">20 adet sonuç göster</option>
            <option value="50">50 adet sonuç göster</option>
        </select>
    </div>
</div>