<div id="updateAddressArea">
    <h3>Adres Güncelle</h3>
    <div class="flex row">
        <div class="item">
            <label for="name">Ad</label>
            <input type="text" name="name" id="name" [(ngModel)]="name">
        </div>
        <div class="item">
            <label for="surname">Soyad</label>
            <input type="text" name="surname" id="surname" [(ngModel)]="surname">
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label for="phone">Telefon</label>
            <input type="text" name="phone" id="phone" [(ngModel)]="phone">
        </div>
        <div class="item">
            <label for="city">İl</label>
            <select name="city" id="city" [(ngModel)]="city">
                <option selected disabled>Seçiniz</option>
                <option value="Trabzon">Trabzon</option>
            </select>
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label for="district">İlçe</label>
            <select name="district" id="district" [(ngModel)]="district">
                <option selected disabled>Seçiniz</option>
                <option value="Arsin">Arsin</option>
            </select>
        </div>
        <div class="item">
            <label for="neighbourhood">Mahalle</label>
            <select name="neighbourhood" id="neighbourhood" [(ngModel)]="neighbourhood" >
                <option selected disabled>Seçiniz</option>
                <option value="Yeşilyalı">Yeşilyalı</option>
            </select>
        </div>
    </div>
    <div class="flex row">
        <div class="item">
            <label for="district">Cadde</label>
            <select name="street" id="street" [(ngModel)]="street">
                <option selected disabled>Seçiniz</option>
                <option value="Kurtuluş Sok.">Kurtuluş Sok.</option>
            </select>
        </div>

        <div class="item">
            <label for="postalCode">Posta Kodu</label>
            <input type="postalCode" name="postalCode" id="postalCode" [(ngModel)]="postalCode">
        </div>

    </div>
    <div class="flex row">
        <div class="item">
            <label for="addressDesc">Adres</label>
            <textarea name="addressDesc" id="addressDesc" [(ngModel)]="addressDesc" cols="30" rows="10"></textarea>
        </div>

    </div>
    <div class="flex row">
        <div class="item">
            <label for="title">Adres Başlığı</label>
            <input type="text" name="title" id="title" [(ngModel)]="title">
        </div>

    </div>
    <div class="flex row">
        <button class="btn" (click)="updateAddress()">Güncelle</button>

    </div>
</div>


<!-- title: {
    type:String,
    required: [true, "customer adres title boş bırakılamaz."]
},

info: {
    name: String,
    surname: String,
    phone: String,
    city: String,
    district: String,
    neighbourhood: String,
    street: String,
    postalCode: String,
    addressDesc: String
} -->