#customerCommentsArea{
    width: 100%;
    #filterSelectArea{
        width: 100%;
    }
    app-customer-page-evaluation{
        width: 100%
    }
    .paginationBar {

        .pageButton {
            &:hover{
                cursor:pointer;
            }
        }
    }
}