<div id="transactionsArea">
    <h2 class="userRouterHeader">Sipariş İstekleri</h2>
    <div id="transactions">
        <div class="filterArea flex">
            <div class="item">
                <select name="sortByDate" id="sortByDate" class="formSelect" (change)="applyFilterChanges()" [(ngModel)]="sortByDate">
                    <option selected disabled value="default">Tarihe Göre</option>
                    <option value="newest">Yeniden Eskiye</option>
                    <option value="oldest">Eskiden Yeniye</option>
                </select>
                
            </div>
            <div class="item">
                <select name="completeStatus" id="completeStatus" class="formSelect" value="default" [(ngModel)]="completeStatus" (change)="applyFilterChanges()">
                    <option selected value="all">Tümünü Göster</option>
                    <option value="true">Tamamlandı</option>
                    <option value="false">Devam Ediyor</option>
                </select>
            </div>
        </div>
        <div class="transaction flex flex-column" *ngFor="let transaction of transactions, index as i">
            <div class="transactionUp">
                <div class="transactionImage">
                    <img src="http://localhost:3000/api/public/image/{{transaction.order.stock.image}}" alt="{{transaction.order.product.slug}}">
                </div>
                <div class="transactionInfo">
                    <p>{{transaction.order.createdAt | date:"dd/MM/yyyy"}}</p>
                    <p>{{transaction.order.product.name}}</p>
                    <p>{{transaction.order.stock.color}} / {{transaction.order.stock.size}} / {{transaction.order.count}} adet</p>
                </div>
                <div class="transactionAddresses flex flex-column" *ngIf="!transaction.order.cancel && transaction.order.returnStatus == 'noRequest'">
                    <div class="delivederAddress">
                        <p><span>Gönderim Adresi</span></p>
                        <p>{{transaction.order.deliveredAddress.info.name}} {{transaction.order.deliveredAddress.info.surname}}</p>
                        <p>{{transaction.order.deliveredAddress.info.phone}}</p>
                        <p>{{transaction.order.deliveredAddress.info.addressDesc}}</p>
                        <p>{{transaction.order.deliveredAddress.info.city}} / {{transaction.order.deliveredAddress.info.district}} / {{transaction.order.deliveredAddress.info.neighbourhood}} / {{transaction.order.deliveredAddress.info.street}}</p>
                    </div>
                    <div class="invoiceAddress">
                        <p><span>Fatura Adresi</span></p>
                        <p>{{transaction.order.invoiceAddress.info.name}} {{transaction.order.deliveredAddress.info.surname}}</p>
                        <p>{{transaction.order.invoiceAddress.info.phone}}</p>
                        <p>{{transaction.order.invoiceAddress.info.addressDesc}}</p>
                        <p>{{transaction.order.invoiceAddress.info.city}} / {{transaction.order.invoiceAddress.info.district}} / {{transaction.order.invoiceAddress.info.neighbourhood}} / {{transaction.order.invoiceAddress.info.street}}</p>
                    </div>
                </div>
                <div class="cancelledOrder flex flex-column" *ngIf="transaction.order.cancel && transaction.order.returnStatus == 'noRequest'">
                    ürün iptal edildi.
                </div>
                <div class="cancelledOrder flex flex-column" *ngIf="!transaction.order.cancel && transaction.order.returnStatus != 'noRequest'">
                    <p *ngIf="transaction.order.returnStatus == 'request'">ürünün tarafınıza ulaşması bekleniyor.</p>
                    <p *ngIf="transaction.order.returnStatus == 'apply'">iade süreci tamamlandı.</p>
                    <p>iade sebebi: {{transaction.order.returnReason}}</p>
                    <div class="item">
                        <p>Gönderim Firması: {{transaction.order.shipper.name}}</p>
                        <p>Takip Kodu: {{transaction.order.followCode}}</p>
                    </div>
                    <select name="returnSelect" id="returnSelect" #returnSelect>
                        <option value="none" selected disabled>Ödeme Onayı Seçin</option>
                        <option value="apply">Ödemeye Onay Ver.</option>
                        <option value="cancel">Ödemeyi İptal Et.</option>
                    </select>
                    <button (click)="completeReturnOrder(i, returnSelect)">Geri Ödeme Onay</button>
                </div>
            </div>
            <div class="transactionDown flex "  *ngIf="transaction.order.returnStatus == 'noRequest' && !transaction.order.cancel">
                <div class="transactionDownLeft">
                    <div class="item">
                        <label for="orderStatus" class="formLabel">Sipariş Durumu</label>
                        <select name="orderStatus" id="orderStatus" class="formSelect" #orderStatus>
                            <option *ngIf="!transaction.order.orderStatus" value="false" selected >Hazırlanıyor</option>
                            <option *ngIf="transaction.order.orderStatus" value="true" selected >Hazırlandı</option>                            
                            <option value="true" *ngIf="transaction.order.returnStatus == 'noRequest'">Hazırlandı</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="shippedStatus" class="formLabel">Kargo Durumu</label>
                        <select name="shippedStatus" id="shippedStatus" class="formSelect" #shippedStatus>
                            <option *ngIf="!transaction.order.shippedStatus" value="false" selected>Kargo Bekleniyor</option>
                            <option *ngIf="transaction.order.shippedStatus" value="true" selected disable>Kargolandı</option>


                            <option value="true">Kargolandı</option>

                        </select>
                    </div>
                    
                </div>
                <div class="transactionDownCenter">
                    <div class="item">
                        <label for="selectShipper" class="formLabel">Kargo Durumu</label>
                        <select name="selectShipper" id="selectShipper" class="formSelect" #selectShipper>
                            <option selected diabled *ngIf="transaction.order.shipper">{{transaction.order.shipper.name}}</option>
                            <option selected diabled *ngIf="!transaction.order.shipper">Gönderim Firması</option>
                            <option  value="{{shipper._id}}" *ngFor="let shipper of shippers">{{shipper.name}}</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="followCode" class="formLabel">Takip Kodu</label>
                        <input type="text" class="formInput" id="followCode" name="followCode" #followCode placeholder="{{transaction.order.followCode}}">
                    </div>
                </div>
                <div class="transactionDownRight flex flex-column">
                    <button (click)="applyChanges(transaction._id, orderStatus , shippedStatus, selectShipper, followCode)">Değişiklikleri Uygula</button>
                    <button>İptal Et</button>
                </div>
            </div>
        </div>
    </div>
</div>