@import "../../../../assets/scss/variables.scss";

#userPageArea{
    
    #userInfo{
        margin-top: 2rem;
        width: 100%;
        border: 1px solid $colorLightGray;
        
        .userInfoItem{
            
            padding:2rem;
            width: 50%;
            gap: 4rem;
            justify-content: center;
            align-items: center;
            h4{
                color:$colorOrange;
                align-self:flex-start;
            }
            #nameArea{
                width: 100%;
                
            }
            .item{
                width: 100%;
                
            }
        }
    }
}