<div id="ordersArea">
    <h2 class="userRouterHeader">Sipariş Bilgilerim</h2>
    <app-add-evaluation [productId]="productId" [stockId]="stockId" [supplierId]="supplierId" *ngIf="addEvaluationComponentStatus"></app-add-evaluation>
    <div class="order" *ngFor="let order of orders, index as i">
    

        <div class="orderUpArea flex">
            <div class="orderImage"><img src="http://localhost:3000/api/public/image/{{order.stock.image}}" alt="">
            </div>
            <div class="orderInfo">
                <p><a routerLink="/product/{{order.product.slug}}/{{order.product._id}}">{{order.product.name}}</a></p>
                <p>{{order.stock.color}}/{{order.stock.size}}</p>
                
                <p>{{order.amount}}₺</p>
                <p>{{order.createdAt | date: "dd.MM.yyyy"}}</p>
                <a routerLink="supplier/{{order.supplier.slug}}">{{order.supplier.shopName}}</a>
            </div>
            <div class="orderButtons flex flex-column">
                <button *ngIf="!order.cancel && order.returnStatus == 'noRequest'" (click)= "apply(order._id)">Onayla</button>
                <button *ngIf="order.cancel || order.returnStatus != 'noRequest'" disabled>Onayla</button>
                <!-- <button *ngIf="!order.cancel && (currentDate.getTime() - order.createdAt.getTime())< 8640000" (click)="cancelOrder(i)">İptal Et</button> -->
                <button *ngIf="!order.cancel && (currentDate.getTime() - order.createdAt.getTime())> 1 && order.returnStatus == 'noRequest'" (click)="openRefundOptions(i)">İade Talep Et</button>
                <a *ngIf="order.cancel" routerLink="/product/{{order.product.slug}}/{{order.product._id}}">Ürüne Git</a>
                <button *ngIf="!order.cancel" (click)="changeAddEvaAppStatusAndIds(order.product._id, order.stock._id, order.supplier._id)">Yorum Yap</button>
                <p *ngIf="order.orderStatus && !order.cancel && order.returnStatus == 'noRequest' ">Hazırlandı</p>
                <p *ngIf="!order.orderStatus && !order.cancel && order.returnStatus == 'noRequest'">Hazırlanıyor</p>
                <p *ngIf="order.cancel && order.returnStatus == 'noRequest'">İptal Edildi</p>
                <p *ngIf="!order.cancel && order.returnStatus == 'request'">Geri Ödeme Bekleniyor.</p>
                <p *ngIf="!order.cancel && order.returnStatus == 'apply'">İade Tamamlandı.</p>
                <p *ngIf="order.returnStatus != 'noRequest'">{{order.shipper.name}}</p>
                <p *ngIf="order.returnStatus != 'noRequest'">{{order.followCode}}</p>
                <p *ngIf="order.orderStatus && order.shippedStatus && !order.cancel && order.returnStatus == 'noRequest'">Kargolandı</p>
                <p *ngIf="order.orderStatus && !order.shippedStatus && !order.cancel && order.returnStatus =='noRequest' ">Kargo Bekliyor</p>
                <a class="seeMore" (click)="showOrderDownArea(i)" *ngIf="!order.cancel && order.returnStatus =='noRequest'">daha fazla +</a>
            </div>
            
        </div>
        <div class="orderDownArea" *ngIf="!order.cancel">
            <div class="deliveredAddress">
                <p><span>Teslimat Adresi: </span></p>
                <p>{{order.deliveredAddress.title}}</p>
                <p>{{order.deliveredAddress.info.name}} {{order.deliveredAddress.info.surname}}</p>
                <p>{{order.deliveredAddress.info.addressDesc}}</p>
                <p>{{order.deliveredAddress.info.district}}/{{order.deliveredAddress.info.city}}</p>
            </div>
            <div class="invoiceAddress">
                <p><span>Fatura Adresi: </span></p>
                <p>{{order.invoiceAddress.title}}</p>
                <p>{{order.invoiceAddress.info.name}} {{order.invoiceAddress.info.surname}}</p>
                <p>{{order.invoiceAddress.info.addressDesc}}</p>
                <p>{{order.invoiceAddress.info.district}}/{{order.invoiceAddress.info.city}}</p>
            </div>
            <div class="shipper">
                <p *ngIf="order.shipper">{{order.shipper.name}}</p>
                <p *ngIf="order.shipper">{{order.followCode}}</p>

                <p *ngIf="!order.shipper">Henüz Kargo Bilgisi Girilmedi.</p>


            </div>
        </div>
        <div id="refundOptions">
            <h3>iade sebebinizi seçiniz</h3>
            <select [(ngModel)]="returnReason">
             <option value="0" selected disabled>İade Sebebiniz</option>
             <option value="optionOne">Seçnek 1</option>
             <option value="optionTwo">Seçnek 2</option>
             <option value="optionThree">Seçnek 3</option>
             <option value="optionFour">Seçnek 4</option>
            </select>
            <select [(ngModel)]="shipperChoice">
                <option value="{{shipper._id}}" *ngFor="let shipper of shippers">{{shipper.name}}</option>
            </select>
            <select [(ngModel)]="boxCount">
                <option value="{{i + 1}}" *ngFor="let num of [].constructor(10); let i = index" >{{i+1}}</option>
            </select>
            <button (click)="refundPay(i)">Kaydet</button>
         </div>
    </div>
    
</div>