<div id="ordersArea">
    <h2>Sipariş Bilgilerim</h2>
    <div class="order">
        <div class="orderImage"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9jHlX--SrcGrvKWOFrbkmjg-h18OabKdRgDXiRvXyTP0SMheKfPXIhmT5NrmPGsSnRu8" alt=""></div>
        <div class="orderInfo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere totam voluptate tempora asperiores quisquam reiciendis, nesciunt expedita obcaecati fugiat eum, rem maxime nobis et sunt vitae aspernatur laudantium, modi non.</p>
        </div>
        <div class="orderStatus">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, iste!</p>
        </div>
    </div>
</div>