@import "../../../../../assets/scss/variables.scss";

#productInfoArea {
    width: 100%;

    #areaHeader {
        text-align: center;
        padding: 1rem;
    }

    #areaBody {
        width: 100%;
        padding: 1rem;
        justify-content: flex-start;

        #bodyUp {
            width: 100%;
            justify-content: space-around;

            #productImage {
                width: 30%;

                img {
                    width: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            #productInfo {
                width: 40%;

                .productBodyItem {
                    width: 100%;
                    justify-content: space-between;

                    h4 {
                        width: 40%;
                    }

                    p,
                    ul {
                        width: 60%;
                        text-align: start;
                    }

                }

                .other {
                    margin-top: 1rem;
                }
            }

            #productStocks {
                width: 30%;
                gap: .5rem;
            }
        }

        #bodyCenter {
            background-color: white;
            border: 1px solid $colorDarkGray;
            width: 100%;
            #stocksUpdateArea {
                padding: 1rem;
                width: 100%;
                display: none;

                #stockUpdateAreaLeft {
                    width: 70%;
                    #images{

                        #stockImage{
                            width: 30%;
                            img{
                                width: 100%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                        #stockImages{
                            width: 70%;                            
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            
                                
                            img{
                                width: 10%;                                    object-fit: cover;
                                object-position: center;
                                &:hover{
                                    cursor:pointer
                                }
                            }
                           
                            
                        }
                    }
                }

                #stockUpdateAreaRight {
                    width: 30%;
                }

            }
        }
    }
}