@import "../../../assets/scss/variables.scss";
#userArea{
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    position: relative;
    #userNav{
        width: 25%;
        h2{
            color:$colorLightGray;
            padding:1rem
        }
        ul{
            margin-top: 2rem;
            li{
                padding: 1rem;
                p{
                    font-size: 1.8rem;
                    font-weight: 600;
                    color:$colorLightGray

                }
                &:hover{
                    cursor:pointer;
                }
                .containCount{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        color:$colorWhite;
                        font-size: 1.4rem;
                    }
                }
            }
            
        }
    }
    #routerArea{
        width: 70%;
    }
}