@import '../../../assets/scss/variables.scss';

#questionsArea{
    position: relative;
    
    #header{
        border: 1px solid $colorLightGray;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        #productInfo{
            width: 30%;
            justify-content: flex-start;
            #productImage{
                width: 25%;
                img{
                    width: 100%;
                    object-fit: contain;
                    object-position: center
                };
            }
        }
    }
    
}