<div id="questionsArea" class="container">
    <app-add-question *ngIf="addAnswerAreaStatus"></app-add-question>
    <div id="header" class="flex">
        
        <div id="productInfo" class="flex">
            <div id="productImage">
                <img src="http://localhost:3000/api/public/image/{{product.image}}" alt="">
            </div>
            <div id="other">
                <p><span>satıcı: </span>{{product.supplier.shopName}}</p>
                <p>{{product.name}}</p>
                <p>{{product.price}} ₺</p>
            </div>
        </div>
        <button class="btn" (click)="showAddAnswer()">Soru Sor</button>
    </div>
    <app-show-question></app-show-question>

</div>